
# chatglm
protobuf>=3.19.5,<3.20.1
icetk
cpm_kernels==1.0.11
torch>=1.13.1

# llama
loralib
sentencepiece

accelerate
appdirs
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
gradio